SUPABASE_URL=https://gvvsurfhpshshntpextm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2dnN1cmZocHNoc2hudHBleHRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1NDg5NDksImV4cCI6MjA3NjEyNDk0OX0.SFgHcHuAAU-l6zF5gxjI1IxH7r5r1DiJYveU2DR48Dk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2dnN1cmZocHNoc2hudHBleHRtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDU0ODk0OSwiZXhwIjoyMDc2MTI0OTQ5fQ.YYDjTIK36g75ZKKy9K19s4or93vezw60jqSOp61A82Q